/* Styles specific to browserAction popup, especially where the same style on
   browserAction popup and sidebarAction panel has different effects.
   These are used in addition/conjuntion with styles set in popop.css */

#searchinput {
  width: 94%;
  margin: 7px auto 0 5px;
}

#tabsmenucontainer {
  /* browserAction popup apparently has a fixed max-height.  Assuming 600px base
     height on experimentation, minus other UI elements in the panel to come up
     with 525px for #tabsmenucontainer height.  Maybe could figure a way to
     programmatically calculate the base height in the future. */
  height: 525px;
}

