/* Context menu styles */

.contextmenu_outer_container {
  position: fixed;
  min-width: 200px;
  min-height: 50px;
  background-color: #eee;
  border: solid 1px #777;
  border-radius: 4px;
  display: none;
  z-index: 100000;
  font-family: "Helvetica";
  font-size: 14px;
  padding: 7px 0 5px 0;
}
.contextmenu_outer_container.contextmenu_display {
  display: block;
}
.context_menu_menuitem {
  padding: 4px 0 2px 0;
  cursor: default;
}
.context_menu_menuitem.disabled {
  opacity: 0.5;
}
.context_menu_textcontainer {
  margin: 0 5px 0 10px;
}
.context_menu_menuitem:hover {
  background: linear-gradient(#66f, #44f);
  color: #fff;
}
.context_menu_menuseparator {
  width: 100%;
  height: 1px;
  background-color: #777;
  margin: 3px 0 3px 0;
}
