html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #F4F7F8;
}

#buttons {
  margin-top: 10px;
  text-align: center;
  font-family: "Helvetica";
  font-size: 13px;
  cursor: default;
}

/* no common #searchinput styles, all set in browserAction.css and sidebarAction.css */

#tabsmenucontainer {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: set in browserAction.css and sidebarAction.css */
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
  font-family: "Helvetica";
}

#buttons > span:hover {
  text-decoration: underline;
}

#buttons[mode=all] > #buttonall {
  font-weight: bold;
}

#buttons[mode=recent] > #buttonrecent {
  font-weight: bold;
}

#buttons[mode=dups] > #buttondups {
  font-weight: bold;
}

#buttons[mode=search] > #buttonsearch {
  font-weight: bold;
}

.menu_message {
  margin: 3px 10px 7px 10px;
  padding: 4px 0 4px 0;
  /* border-top: solid 1px #bbb; */
  border-bottom: solid 1px #bbb;
  display: none;
  min-height: 7px;
  font-family: "Helvetica";
  font-size: 11.5px;
  text-align: center;
}

.divideritem {
  border-bottom: 4px solid #999;
}

.activetab .opti_menutext  {
  font-weight: bold;
  font-size: 13px;
  margin-top: 2px;
}

.tabdiscarded * {
  opacity: 0.6;
}

.tabpinned {
  background-color: #ddddea;
}

#tabscount {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  font-family: "Helvetica";
  font-size: 11px;
  padding: 3px 2px 2px 3px;
}

#pinnedtabsoverlay {
  position: fixed;
  left: 0;
  top: 30px;
  z-index: 100000;
  font-family: "Helvetica";
  font-size: 13px;
}

.searchresult {
  background-color: #f9e79f !important;
}

.searchresultmenuitem > .opti_menuicon1 {
  cursor: pointer;
}

.firstsearchresult {
  padding-top: 4px;
}

.searchresultkeyword {
  font-weight: bold;
  color: #55c;
}

#bottomhoverdetector {
  width: 100%;
  height: 10px;
}

#tophoverdetector {
  width: 100%;
  height: 10px;
}

/* User defined OptiMenu styles */

.opti_menuicon2 {
  width: 10px !important;
  height: 10px !important;
  cursor: pointer;
  opacity: 0.65;
}

.opti_dragging_menuitem > div:hover {
  border-bottom: 3px solid red;
}

.opti_menu_outer_container:not(.opti_ismenuitemselected) > .searchresult:hover {
  background: #7BCCB5 !important;
  color: #8C001A !important;
}

/* search results expand and collapse (OptiMenu) */

.searchresultmenuitem > .opti_menuicon1 {
  background-image: url('../icons/tree_half_arrows_blue_white_12x12_bg.png');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-position: -12px 0;
}

.searchresultmenuitem:hover > .opti_menuicon1 {
  background-position: -12px -12px;
}

.searchresultmenuitem.searchresults_collapse_icon > .opti_menuicon1 {
  background-position: -12px 0;
}

.searchresultmenuitem.searchresults_collapse_icon:hover > .opti_menuicon1 {
  background-position: -12px -12px;
}
