/* Styles specific to sidebarAction popup, especially where the same style on
   browserAction popup and sidebarAction panel has different effects.
   These are used in addition/conjuntion with styles set in popop.css */

#searchinput {
  width: 95%;
  margin: 7px auto 0 auto;
}

#tabsmenucontainer {
  height: 100%;
}
