html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #F4F7F8;
}

#buttons {
  margin-top: 10px;
  text-align: center;
  font-family: "Helvetica";
  font-size: 13px;
  cursor: default;
}

#searchinput {
  width: 95%;
  /* margin: sidebar: 7x auto; browserAction: 7px auto 7px 5px */
  margin: 7px auto 7px 5px;
}

#tabsmenucontainer {
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  width: 100%;
  /* Only needed for browserAction popup, and must be <= the maximum length
     the popup will open.  Maybe could calculate that dynamically by first
     setting height to a very large number, grabbing the outer height, then
     setting to that. */
  height: 535px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
  font-family: "Helvetica";
}

#buttons > span:hover {
  text-decoration: underline;
}

#buttons[mode=all] > #buttonall {
  font-weight: bold;
}

#buttons[mode=recent] > #buttonrecent {
  font-weight: bold;
}

#buttons[mode=dups] > #buttondups {
  font-weight: bold;
}

#buttons[mode=search] > #buttonsearch {
  font-weight: bold;
}

.menu_message {
  margin: 3px 10px 7px 10px;
  padding: 4px 0 4px 0;
  /* border-top: solid 1px #bbb; */
  border-bottom: solid 1px #bbb;
  display: none;
  min-height: 7px;
  font-family: "Helvetica";
  font-size: 11.5px;
  text-align: center;
}

#tabsmenucontainer > .divideritem {
  border-bottom: 4px solid #999;
}

#tabsmenucontainer > .activetab .opti_menutext  {
  font-weight: bold;
  font-size: 13px;
  margin-top: 2px;
}

.searchresult {
  background-color: #fffff0 !important;
}

.searchresultmenuitem > .opti_menuicon1 {
  cursor: pointer;
}

.firstsearchresult {
  padding-top: 4px;
}

.searchresultkeyword {
  font-weight: bold;
}

/* User defined OptiMenu styles */

.opti_menuicon2 {
  width: 10px !important;
  height: 10px !important;
  cursor: pointer;
  opacity: 0.65;
}

.opti_dragging_menuitem > div:hover {
  border-bottom: 3px solid red;
}

.opti_menu_outer_container:not(.opti_ismenuitemselected) > .searchresult:hover {
  background: #7BCCB5 !important;
  color: #8C001A !important;
}

/* search results expand and collapse (OptiMenu) */

.searchresultmenuitem > .opti_menuicon1 {
  background-image: url('../icons/tree_half_arrows_blue_white_10x10px_down_centered_12x12_bg.png');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-position: -12px 0;
}

.searchresultmenuitem:hover > .opti_menuicon1 {
  background-position: -12px -12px;
}

.searchresultmenuitem.searchresults_collapse_icon > .opti_menuicon1 {
  background-position: -12px 0;
}

.searchresultmenuitem.searchresults_collapse_icon:hover > .opti_menuicon1 {
  background-position: -12px -12px;
}
